<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caihua.housekeeping.mapper.ServiceMapper">
    <resultMap id="pageSearchMap" type="com.caihua.housekeeping.entity.vo.ServiceVo">
        <id column="id" property="id"></id>
        <result column="service_num" property="serviceNum"></result>
        <result column="address" property="address"></result>
        <result column="money" property="money"></result>
        <result column="service_people" property="servicePeople"></result>
        <result column="custom" property="custom"></result>
        <result column="type" property="serviceType"></result>
        <result column="create_date" property="createDate"></result>
    </resultMap>

    <select id="pageSearch" resultMap="pageSearchMap">
        SELECT s.*,
               custom.`name`                                                         as custom,
               dict.`name`                                                           as dict,
               GROUP_CONCAT(dict.NAME ORDER BY dict.`order` SEPARATOR ',')           AS type,
               GROUP_CONCAT(people.NAME ORDER BY people.`create_date` SEPARATOR ',') AS service_people
        FROM `service` s
                 LEFT JOIN dict dict ON s.dict_id = dict.id
                 LEFT JOIN custom custom ON s.custom_id = custom.id
                 LEFT JOIN service_service_people sp ON sp.service_id = s.id
                 LEFT JOIN service_people people ON sp.people_id = people.id
        WHERE s.is_delete = '0'
        order by s.create_date desc
            limit #{current}, #{size}
    </select>

    <insert id="insertServicePeople">
        insert into service_service_people (service_id,people_id) values
        <foreach collection="param" index="index" item="dictItem" separator=",">
            (#{serviceId},#{dictItem, jdbcType=NUMERIC})
        </foreach>
    </insert>

</mapper>